.blue {
  background: #1c94c3;
}

.green {
  background: #0eae6c;
}

.red {
  background: #cf4647;
}

.page-left svg, .page-right svg {
  color: white;
  height: 60px;
  width: 60px;
  cursor: pointer;
  float: left;
}